#app {
  display: grid;
  grid-template: auto auto / 1.5fr 1fr 1fr;
  gap: 2em;
}

.graph-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.graph-input label {
  font-weight: bold;
  display: block;
}

.graph-input span {
  font-size: 0.8em;
  color: #444;
}

.graph-container {
  text-align: center;
}

.modules-fields {
  grid-column: 1 / 4;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #eeeeee;
}

th,
td {
  border: 1px solid black;
  padding: 0.4em;
  vertical-align: baseline;
}

td {
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

td.highlight {
  background-color: darksalmon;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.warning {
  color: darkorange;
}
